:root {
  --white-bg: #f6fbfaff;
  --card: #1ac09cff;
  --blue: #1b2966ff;
  --muted: #6b7280;
}

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial;
  background: var(--white-bg);
  color: #111827;
  min-width: 100vh;
}

.app-header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background: var(--card);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
}
.app-header h1 {
  font-size: 32px;
}

.goals-section {
}

#goals-list {
  display: grid; /* Define a ul como um contêiner de grade */
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  list-style: none;
}
